In [1]:
import numpy as np
import pandas as pd

In [2]:
file_path = "98-401-X2021001_English_CSV_data.csv"

# Read the CSV file with 'utf-8' encoding and handle errors with 'latin-1'
try:
    df = pd.read_csv(file_path, encoding='utf-8')
except UnicodeDecodeError:
    df = pd.read_csv(file_path, encoding='latin-1')

In [3]:
columns_to_keep = ['GEO_LEVEL', 'CHARACTERISTIC_NAME','C1_COUNT_TOTAL', 'C2_COUNT_MEN+', 'C3_COUNT_WOMEN+']

In [4]:
df =df[columns_to_keep]

In [5]:
df = df[df['GEO_LEVEL']=='Country']

In [6]:
df.head(25)

,GEO_LEVEL,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+
0,Country,"Population, 2021",36991981.0,NaN,NaN
1,Country,"Population, 2016",35151728.0,NaN,NaN
2,Country,"Population percentage change, 2016 to 2021",5.2,NaN,NaN
3,Country,Total private dwellings,16284235.0,NaN,NaN
4,Country,Private dwellings occupied by usual residents,14978941.0,NaN,NaN
5,Country,Population density per square kilometre,4.2,NaN,NaN
6,Country,Land area in square kilometres,8788702.8,NaN,NaN
7,Country,Total - Age groups of the population - 100% data,36991980.0,18226240.0,18765740.0
8,Country,0 to 14 years,6012795.0,3086510.0,2926285.0
9,Country,0 to 4 years,1831195.0,938790.0,892405.0
10,Country,5 to 9 years,2054900.0,1054240.0,1000655.0
11,Country,10 to 14 years,2126705.0,1093480.0,1033225.0
12,Country,15 to 64 years,23957760.0,11915050.0,12042710.0
13,Country,15 to 19 years,2012975.0,1036730.0,976240.0
14,Country,20 to 24 years,2202255.0,1138825.0,1063430.0
15,Country,25 to 29 years,2421510.0,1228135.0,1193370.0
16,Country,30 to 34 years,2518835.0,1252795.0,1266040.0
17,Country,35 to 39 years,2511345.0,1238515.0,1272835.0
18,Country,40 to 44 years,2399405.0,1175875.0,1223530.0
19,Country,45 to 49 years,2304170.0,1129185.0,1174985.0
20,Country,50 to 54 years,2368350.0,1161665.0,1206685.0
21,Country,55 to 59 years,2647330.0,1299975.0,1347350.0
22,Country,60 to 64 years,2571580.0,1253335.0,1318245.0
23,Country,65 years and over,7021430.0,3224680.0,3796750.0
24,Country,65 to 69 years,2210970.0,1065305.0,1145665.0

In [7]:
df['Level'] = (df['CHARACTERISTIC_NAME'].apply(len)-df['CHARACTERISTIC_NAME'].str.strip().apply(len))/2

In [8]:
 max_level = int(df['Level'].max())

In [9]:
 level_val=df['Level'].unique()

In [10]:
level_list =[]

In [11]:
level_list = ["Lvl-" + str(i) for i in range(0, max_level + 1)]

In [12]:
level_list

['Lvl-0',
 'Lvl-1',
 'Lvl-2',
 'Lvl-3',
 'Lvl-4',
 'Lvl-5',
 'Lvl-6',
 'Lvl-7',
 'Lvl-8']

In [13]:
for column_name in level_list:
        df[column_name] = column_name

In [14]:
for column_name in level_list:
        df[column_name] = np.nan

In [15]:
df

,GEO_LEVEL,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,Level,Lvl-0,Lvl-1,Lvl-2,Lvl-3,Lvl-4,Lvl-5,Lvl-6,Lvl-7,Lvl-8
0,Country,"Population, 2021",36991981.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,"Population, 2016",35151728.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country,"Population percentage change, 2016 to 2021",5.2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country,Total private dwellings,16284235.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,Private dwellings occupied by usual residents,14978941.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2626,Country,Total - Eligibility and instruction in the min...,5372330.0,2761965.0,2610365.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2627,Country,Children eligible for instruction in the min...,682190.0,346420.0,335770.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2628,Country,Eligible children who have been instructed...,467685.0,234475.0,233215.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2629,Country,Eligible children who have not been instru...,214500.0,111950.0,102550.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2630,Country,Children not eligible for instruction in the...,4690140.0,2415545.0,2274595.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_play = df.copy()

In [17]:

# Iterate through the DataFrame rows
for index, row in df_play.iterrows():

    for level_column in level_list:
            if row['Level'] == int(level_column.split('-')[1]):
                characteristic_name = row['CHARACTERISTIC_NAME'].strip()
                df_play.at[index, level_column] = characteristic_name

In [18]:
df_play.head(50)

,GEO_LEVEL,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,Level,Lvl-0,Lvl-1,Lvl-2,Lvl-3,Lvl-4,Lvl-5,Lvl-6,Lvl-7,Lvl-8
0,Country,"Population, 2021",36991981.0,NaN,NaN,0.0,"Population, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,"Population, 2016",35151728.0,NaN,NaN,0.0,"Population, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country,"Population percentage change, 2016 to 2021",5.2,NaN,NaN,0.0,"Population percentage change, 2016 to 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country,Total private dwellings,16284235.0,NaN,NaN,0.0,Total private dwellings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,Private dwellings occupied by usual residents,14978941.0,NaN,NaN,0.0,Private dwellings occupied by usual residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Country,Population density per square kilometre,4.2,NaN,NaN,0.0,Population density per square kilometre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Country,Land area in square kilometres,8788702.8,NaN,NaN,0.0,Land area in square kilometres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Country,Total - Age groups of the population - 100% data,36991980.0,18226240.0,18765740.0,0.0,Total - Age groups of the population - 100% data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Country,0 to 14 years,6012795.0,3086510.0,2926285.0,1.0,NaN,0 to 14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Country,0 to 4 years,1831195.0,938790.0,892405.0,2.0,NaN,NaN,0 to 4 years,NaN,NaN,NaN,NaN,NaN,NaN
10,Country,5 to 9 years,2054900.0,1054240.0,1000655.0,2.0,NaN,NaN,5 to 9 years,NaN,NaN,NaN,NaN,NaN,NaN
11,Country,10 to 14 years,2126705.0,1093480.0,1033225.0,2.0,NaN,NaN,10 to 14 years,NaN,NaN,NaN,NaN,NaN,NaN
12,Country,15 to 64 years,23957760.0,11915050.0,12042710.0,1.0,NaN,15 to 64 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Country,15 to 19 years,2012975.0,1036730.0,976240.0,2.0,NaN,NaN,15 to 19 years,NaN,NaN,NaN,NaN,NaN,NaN
14,Country,20 to 24 years,2202255.0,1138825.0,1063430.0,2.0,NaN,NaN,20 to 24 years,NaN,NaN,NaN,NaN,NaN,NaN
15,Country,25 to 29 years,2421510.0,1228135.0,1193370.0,2.0,NaN,NaN,25 to 29 years,NaN,NaN,NaN,NaN,NaN,NaN
16,Country,30 to 34 years,2518835.0,1252795.0,1266040.0,2.0,NaN,NaN,30 to 34 years,NaN,NaN,NaN,NaN,NaN,NaN
17,Country,35 to 39 years,2511345.0,1238515.0,1272835.0,2.0,NaN,NaN,35 to 39 years,NaN,NaN,NaN,NaN,NaN,NaN
18,Country,40 to 44 years,2399405.0,1175875.0,1223530.0,2.0,NaN,NaN,40 to 44 years,NaN,NaN,NaN,NaN,NaN,NaN
19,Country,45 to 49 years,2304170.0,1129185.0,1174985.0,2.0,NaN,NaN,45 to 49 years,NaN,NaN,NaN,NaN,NaN,NaN
20,Country,50 to 54 years,2368350.0,1161665.0,1206685.0,2.0,NaN,NaN,50 to 54 years,NaN,NaN,NaN,NaN,NaN,NaN
21,Country,55 to 59 years,2647330.0,1299975.0,1347350.0,2.0,NaN,NaN,55 to 59 years,NaN,NaN,NaN,NaN,NaN,NaN
22,Country,60 to 64 years,2571580.0,1253335.0,1318245.0,2.0,NaN,NaN,60 to 64 years,NaN,NaN,NaN,NaN,NaN,NaN
23,Country,65 years and over,7021430.0,3224680.0,3796750.0,1.0,NaN,65 years and over,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Country,65 to 69 years,2210970.0,1065305.0,1145665.0,2.0,NaN,NaN,65 to 69 years,NaN,NaN,NaN,NaN,NaN,NaN
25,Country,70 to 74 years,1847585.0,879850.0,967735.0,2.0,NaN,NaN,70 to 74 years,NaN,NaN,NaN,NaN,NaN,NaN
26,Country,75 to 79 years,1260930.0,589090.0,671845.0,2.0,NaN,NaN,75 to 79 years,NaN,NaN,NaN,NaN,NaN,NaN
27,Country,80 to 84 years,840545.0,370905.0,469645.0,2.0,NaN,NaN,80 to 84 years,NaN,NaN,NaN,NaN,NaN,NaN
28,Country,85 years and over,861395.0,319540.0,541860.0,2.0,NaN,NaN,85 years and over,NaN,NaN,NaN,NaN,NaN,NaN
29,Country,85 to 89 years,525445.0,212735.0,312705.0,3.0,NaN,NaN,NaN,85 to 89 years,NaN,NaN,NaN,NaN,NaN
30,Country,90 to 94 years,258035.0,87300.0,170735.0,3.0,NaN,NaN,NaN,90 to 94 years,NaN,NaN,NaN,NaN,NaN
31,Country,95 to 99 years,68380.0,17670.0,50715.0,3.0,NaN,NaN,NaN,95 to 99 years,NaN,NaN,NaN,NaN,NaN
32,Country,100 years and over,9535.0,1830.0,7710.0,3.0,NaN,NaN,NaN,100 years and over,NaN,NaN,NaN,NaN,NaN
33,Country,Total - Distribution (%) of the population by ...,100.0,100.0,100.0,0.0,Total - Distribution (%) of the population by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Country,0 to 14 years,16.3,16.9,15.6,1.0,NaN,0 to 14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Country,15 to 64 years,64.8,65.4,64.2,1.0,NaN,15 to 64 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Country,65 years and over,19.0,17.7,20.2,1.0,NaN,65 years and over,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Country,85 years and over,2.3,1.8,2.9,2.0,NaN,NaN,85 years and over,NaN,NaN,NaN,NaN,NaN,NaN
38,Country,Average age of the population,41.9,41.0,42.8,0.0,Average age of the population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Country,Median age of the population,41.6,40.4,42.8,0.0,Median age of the population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Country,Total - Occupied private dwellings by structur...,14978940.0,NaN,NaN,0.0,Total - Occupied private dwellings by structur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Country,Single-detached house,7872310.0,NaN,NaN,1.0,NaN,Single-detached house,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Country,Semi-detached house,746560.0,NaN,NaN,1.0,NaN,Semi-detached house,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Country,Row house,980110.0,NaN,NaN,1.0,NaN,Row house,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Country,Apartment or flat in a duplex,821490.0,NaN,NaN,1.0,NaN,Apartment or flat in a duplex,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Country,Apartment in a building that has fewer than ...,2738020.0,NaN,NaN,1.0,NaN,Apartment in a building that has fewer than fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Country,Apartment in a building that has five or mor...,1596155.0,NaN,NaN,1.0,NaN,Apartment in a building that has five or more ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Country,Other single-attached house,34880.0,NaN,NaN,1.0,NaN,Other single-attached house,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Country,Movable dwelling,189420.0,NaN,NaN,1.0,NaN,Movable dwelling,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Country,Total - Private households by household size -...,14978940.0,NaN,NaN,0.0,Total - Private households by household size -...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# iterate each level column and update the NaN ones based on the hierarchy
level_val=df['Level'].unique()
for i in level_val:
    i = int(i)
    last_characteristic_name = ''
    # Iterate through the DataFrame rows
    for index, row in df_play.iterrows():
        if pd.notna(row[level_list[i]]):
            last_characteristic_name = row['CHARACTERISTIC_NAME'].strip()
        elif row['Level'] >= i:
            # Update the 'Lvl-x' column with the last_characteristic_name until the next 0 occurs
            df_play.at[index, level_list[i]] = last_characteristic_name

In [20]:
df_play.head(50)

,GEO_LEVEL,CHARACTERISTIC_NAME,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,Level,Lvl-0,Lvl-1,Lvl-2,Lvl-3,Lvl-4,Lvl-5,Lvl-6,Lvl-7,Lvl-8
0,Country,"Population, 2021",36991981.0,NaN,NaN,0.0,"Population, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,"Population, 2016",35151728.0,NaN,NaN,0.0,"Population, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country,"Population percentage change, 2016 to 2021",5.2,NaN,NaN,0.0,"Population percentage change, 2016 to 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country,Total private dwellings,16284235.0,NaN,NaN,0.0,Total private dwellings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,Private dwellings occupied by usual residents,14978941.0,NaN,NaN,0.0,Private dwellings occupied by usual residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Country,Population density per square kilometre,4.2,NaN,NaN,0.0,Population density per square kilometre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Country,Land area in square kilometres,8788702.8,NaN,NaN,0.0,Land area in square kilometres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Country,Total - Age groups of the population - 100% data,36991980.0,18226240.0,18765740.0,0.0,Total - Age groups of the population - 100% data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Country,0 to 14 years,6012795.0,3086510.0,2926285.0,1.0,Total - Age groups of the population - 100% data,0 to 14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Country,0 to 4 years,1831195.0,938790.0,892405.0,2.0,Total - Age groups of the population - 100% data,0 to 14 years,0 to 4 years,NaN,NaN,NaN,NaN,NaN,NaN
10,Country,5 to 9 years,2054900.0,1054240.0,1000655.0,2.0,Total - Age groups of the population - 100% data,0 to 14 years,5 to 9 years,NaN,NaN,NaN,NaN,NaN,NaN
11,Country,10 to 14 years,2126705.0,1093480.0,1033225.0,2.0,Total - Age groups of the population - 100% data,0 to 14 years,10 to 14 years,NaN,NaN,NaN,NaN,NaN,NaN
12,Country,15 to 64 years,23957760.0,11915050.0,12042710.0,1.0,Total - Age groups of the population - 100% data,15 to 64 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Country,15 to 19 years,2012975.0,1036730.0,976240.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,15 to 19 years,NaN,NaN,NaN,NaN,NaN,NaN
14,Country,20 to 24 years,2202255.0,1138825.0,1063430.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,20 to 24 years,NaN,NaN,NaN,NaN,NaN,NaN
15,Country,25 to 29 years,2421510.0,1228135.0,1193370.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,25 to 29 years,NaN,NaN,NaN,NaN,NaN,NaN
16,Country,30 to 34 years,2518835.0,1252795.0,1266040.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,30 to 34 years,NaN,NaN,NaN,NaN,NaN,NaN
17,Country,35 to 39 years,2511345.0,1238515.0,1272835.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,35 to 39 years,NaN,NaN,NaN,NaN,NaN,NaN
18,Country,40 to 44 years,2399405.0,1175875.0,1223530.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,40 to 44 years,NaN,NaN,NaN,NaN,NaN,NaN
19,Country,45 to 49 years,2304170.0,1129185.0,1174985.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,45 to 49 years,NaN,NaN,NaN,NaN,NaN,NaN
20,Country,50 to 54 years,2368350.0,1161665.0,1206685.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,50 to 54 years,NaN,NaN,NaN,NaN,NaN,NaN
21,Country,55 to 59 years,2647330.0,1299975.0,1347350.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,55 to 59 years,NaN,NaN,NaN,NaN,NaN,NaN
22,Country,60 to 64 years,2571580.0,1253335.0,1318245.0,2.0,Total - Age groups of the population - 100% data,15 to 64 years,60 to 64 years,NaN,NaN,NaN,NaN,NaN,NaN
23,Country,65 years and over,7021430.0,3224680.0,3796750.0,1.0,Total - Age groups of the population - 100% data,65 years and over,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Country,65 to 69 years,2210970.0,1065305.0,1145665.0,2.0,Total - Age groups of the population - 100% data,65 years and over,65 to 69 years,NaN,NaN,NaN,NaN,NaN,NaN
25,Country,70 to 74 years,1847585.0,879850.0,967735.0,2.0,Total - Age groups of the population - 100% data,65 years and over,70 to 74 years,NaN,NaN,NaN,NaN,NaN,NaN
26,Country,75 to 79 years,1260930.0,589090.0,671845.0,2.0,Total - Age groups of the population - 100% data,65 years and over,75 to 79 years,NaN,NaN,NaN,NaN,NaN,NaN
27,Country,80 to 84 years,840545.0,370905.0,469645.0,2.0,Total - Age groups of the population - 100% data,65 years and over,80 to 84 years,NaN,NaN,NaN,NaN,NaN,NaN
28,Country,85 years and over,861395.0,319540.0,541860.0,2.0,Total - Age groups of the population - 100% data,65 years and over,85 years and over,NaN,NaN,NaN,NaN,NaN,NaN
29,Country,85 to 89 years,525445.0,212735.0,312705.0,3.0,Total - Age groups of the population - 100% data,65 years and over,85 years and over,85 to 89 years,NaN,NaN,NaN,NaN,NaN
30,Country,90 to 94 years,258035.0,87300.0,170735.0,3.0,Total - Age groups of the population - 100% data,65 years and over,85 years and over,90 to 94 years,NaN,NaN,NaN,NaN,NaN
31,Country,95 to 99 years,68380.0,17670.0,50715.0,3.0,Total - Age groups of the population - 100% data,65 years and over,85 years and over,95 to 99 years,NaN,NaN,NaN,NaN,NaN
32,Country,100 years and over,9535.0,1830.0,7710.0,3.0,Total - Age groups of the population - 100% data,65 years and over,85 years and over,100 years and over,NaN,NaN,NaN,NaN,NaN
33,Country,Total - Distribution (%) of the population by ...,100.0,100.0,100.0,0.0,Total - Distribution (%) of the population by ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Country,0 to 14 years,16.3,16.9,15.6,1.0,Total - Distribution (%) of the population by ...,0 to 14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Country,15 to 64 years,64.8,65.4,64.2,1.0,Total - Distribution (%) of the population by ...,15 to 64 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Country,65 years and over,19.0,17.7,20.2,1.0,Total - Distribution (%) of the population by ...,65 years and over,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Country,85 years and over,2.3,1.8,2.9,2.0,Total - Distribution (%) of the population by ...,65 years and over,85 years and over,NaN,NaN,NaN,NaN,NaN,NaN
38,Country,Average age of the population,41.9,41.0,42.8,0.0,Average age of the population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Country,Median age of the population,41.6,40.4,42.8,0.0,Median age of the population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Country,Total - Occupied private dwellings by structur...,14978940.0,NaN,NaN,0.0,Total - Occupied private dwellings by structur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Country,Single-detached house,7872310.0,NaN,NaN,1.0,Total - Occupied private dwellings by structur...,Single-detached house,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Country,Semi-detached house,746560.0,NaN,NaN,1.0,Total - Occupied private dwellings by structur...,Semi-detached house,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Country,Row house,980110.0,NaN,NaN,1.0,Total - Occupied private dwellings by structur...,Row house,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Country,Apartment or flat in a duplex,821490.0,NaN,NaN,1.0,Total - Occupied private dwellings by structur...,Apartment or flat in a duplex,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Country,Apartment in a building that has fewer than ...,2738020.0,NaN,NaN,1.0,Total - Occupied private dwellings by structur...,Apartment in a building that has fewer than fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Country,Apartment in a building that has five or mor...,1596155.0,NaN,NaN,1.0,Total - Occupied private dwellings by structur...,Apartment in a building that has five or more ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Country,Other single-attached house,34880.0,NaN,NaN,1.0,Total - Occupied private dwellings by structur...,Other single-attached house,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Country,Movable dwelling,189420.0,NaN,NaN,1.0,Total - Occupied private dwellings by structur...,Movable dwelling,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Country,Total - Private households by household size -...,14978940.0,NaN,NaN,0.0,Total - Private households by household size -...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_play.to_csv("census_data_with_levels.csv", index=False)

In [22]:
print("Export Done")

Export Done